.fixed-top {
    background-color: white;
    border-bottom: 2px solid black;
    font-size: 18px;
}
.fixed-top div {
    border: 1px solid black;
}

#home {
    background-image: url('../img/Mountains.jpg');
    min-height: 550px;
    background-size: cover;
	background-position: 95% 30%;
}

#home h1 {
    font-size: 90px;
	font-weight: 600;
    color: white;
}