body {
	font-family: Georgia;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#navbar {
	display: block;
	position: fixed;
	width: 100%;
	background-color: white;
	text-align: center;
	z-index: 1;
	border-bottom: 2px solid black;
	margin: -20px 0px 0px 0px;
}

#navbar ul {
	margin: auto;
}

#navbar li {
	display: inline-block;
	margin: auto;
	font-family: Verdana;
	font-size: 18px;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
	color: #4d4dff;
	font-weight: normal;
}

#navbar li:hover {
	font-weight: bold; 
}

#home {
	display: flex;
	display: -webkit-flex;
	background-size: cover;
	background-position: 95% 30%;
	background-image: url('Mountain.jpg');
	min-height: 550px;
	margin: 20px 0px 0px 0px;
}

#home h1 {
	font-size: 90px;
	font-weight: 600;
	color: white;
	font-family: sans-serif;
	margin: auto;
	margin-top: 240px;
	/*margin-left: 140px;*/
}

.button {
	height: 50px;
	width: 150px;
	border: 2px solid #003399;
	background-color: #0066cc;
	border-radius: 6px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
}

.button a {
	text-decoration: none;
	color: white;
	font-family: Verdana;
}

ul {
	list-style-type: none;
}

#ND img {
	display: inline-block;
	position: relative;
	margin-top: -3px;
	height: 500px;
	width: 300px;
}

#ND table {
	margin: 0px -3px 0px -3px;
}

#ND div {
	display: inline-block;
	text-align: center;
	height: 500px;
	padding: 0px;
	min-width: 350px;
	vertical-align: middle;
}

#ndContent p:first-child {
	margin-top: 60px;
}

#ND {
	background-color: #00cc44;
	height: 500px;
	display: flex;
	display: -webkit-flex;
	border-top: 30px solid #0033cc;
}
#ND span {
	font-style: italic;
}

#ND div p:first-child {
	margin-bottom: 5px;
}

#ND div h2 {
	margin-top: 0px;
}

#ND h2 a {
	font-family: serif;
	color: #f8df37;
	text-decoration: none;
	margin:0px;
	font-size: 35px;
}

#ND h2 a:hover {
	color: #d4af37;
	text-decoration: none;
}

#Tech {
	margin: 0px;
	padding: 30px;
	border-top: 30px solid #0033cc;	
	text-align: center;
}

#Tech h2 {
	margin-top: 0px;
	margin-bottom: 5px;
}

#Tech div {
	width: 80%;
	margin: auto;
}

#Tech .half {
	display: inline-block;
	width: 48%;

}

#work {
	border-top: 30px solid #ff5d00;
	background-color: #ff7d32;
	text-align: center;
	padding: 10px;
}

#work .titleimage {
	border: 5px solid #ff5d00; 
	border-radius: 50px;
	max-height: 125px;
}

#work div {
    display: inline-block;
    vertical-align: top;
}

#work2 {
	border-top: 30px solid #ff5d00;
	text-align: center;
	background-color: #ffd966;
}

#work2 div {
	display: inline-block;
	vertical-align: top;
	padding: 8px;
	width: 48%;
}
#work2 div:first-child {
	border-right: 2px dashed #cc9900;
}


#morningstar img:first-child {
	border-radius: 50px;
	border: 10px solid red;
	max-height: 125px;
}


#Zahm {
	text-align: center;
	background-color: #ffbdc1; 
	margin: 0px;
	padding: 5px;
	border-top: 30px solid black;
}

#Zahm td {
	padding: 5px;
	vertical-align: top;
	width: 25%;
}

#Zahm img {
	border: 2px solid black;
	/*border-radius: 8px;*/
 	height: 200px;
}


#service {
	border-top: 30px solid black;
	background-color: #66b3ff;
	text-align: center;
}

#service #appa div {
	display: inline-block;
	width:20%;
	margin: 2px;
	vertical-align: middle;

}

#service #appa #content {
	width: 55%;
	margin-left: 5px;
}

#service #appa #content img {
	border: 1px solid black;
	width: 75%;
	margin-top: 10px;
	margin-bottom: 0px;
}

#service #appa #content img:hover, #service #other img:hover {
	border: 2px solid black;
}

#service #appa #content p {
	margin-top: 0px;
}

#service #appa img {
	width: 99%;
	margin:0px;
	border: 2px solid brown;
}

#service #other {
	border-top: 2px dotted #0d4a8c;
}

#service #other img {
	border: 1px solid black;
	width: 75%;
	background-color: white;
}


#service #other div, #travel div {
	display: inline-block;
	width: 200px;
	margin: 20px;
	vertical-align: top;
}

#interests {
	background-color: #cccccc;
	border-top: 30px solid #669999;
	/*order-bottom: 30px solid #669999;*/
	text-align: center;
}

#interests table {
	margin-top: -25px;
	width: 100%;
}

#interests td {
	vertical-align: top;
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}

#interests img {
	width: 60%;
	border: 3px solid #669999;
}

#travel {
	border-bottom: 30px solid black;
	border-top: 30px solid #669999;
	text-align: center;
}

#travel img {
	max-width: 200px;
	border-radius: 5px;
}

#travel div p:nth-child(2) {
	font-family: Verdana;
	font-size: 20px;
	color: #2031a1;
}

#travel .country {
    min-width: 200px;
	font-family: Verdana;
	font-size: 20px;
	color: #2031a1;
}

#contact {
	text-align: center;
}

#contact #email {
	border: 2px solid orange;
	border-radius: 5px;
	padding: 5px;
}

#contact #email p:first-child {
	padding-bottom: 15px;
	border-bottom: 2px dashed orange;
}

#contact div {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}